<nav class="navbar navbar-expand-lg navbar-light bg-info">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" routerLink="amir">Start</a>
          </li>
        <li class="nav-item ">
            
          <a class="nav-link"  routerLink="home">Home <span class="sr-only">(current)</span></a>
        
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="book">book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="getbook">getbook</a>
          </li>
         
      </ul>
    </div>
  </nav>