div{
    text-align: center;
    border-color: red;
    background-color: red;
}
.container{
    background-color: beige;
    border-color: black;
}
h1{
    color: blue;
    text-align: center;
}
p{
    text-align: start;
    margin-left: 40%;
}
h2{
    color: burlywood;
    text-align: center;
}
p{
    color: blueviolet;
    font-size: 25px;
}