
<!-- ractive form -->
<h1>REACTIVE FORM</h1>

<br><div class="container">
    <form [formGroup]="formData" (ngSubmit)="click(formData)">
        <br><label>Enter Your Name:-</label> 
        <input type="text" name="name" placeholder="Your Name" [formControl]="formData.controls['name']" required>
        <span [hidden]="formData.controls['name'].valid" style="color: red;">Please Enter Name</span><br><br>

        <label>Enter Your Email:-</label> 
        <input type="email" name="email" placeholder="Your email" [formControl]="formData.controls['email']" required>
        <span [hidden]="formData.controls['email'].valid" style="color: red;">Please Enter Email</span><br><br>

        <label>Subject:-</label> 
        <input type="text" name="subject" placeholder="Your subject" [formControl]="formData.controls['subject']" required>
        <span [hidden]="formData.controls['subject'].valid" style="color: red;">Please Enter subject</span><br><br>

        <label>Message:-</label> 
        <input type="text" name="message" placeholder="Your message" [formControl]="formData.controls['message']" required>
        <span [hidden]="formData.controls['message'].valid" style="color: red;">Please Enter message</span><br><br>

        <input type="submit" value="submit" [disabled]=!formData.valid class="btn btn-success">

    </form>
</div>
*************************************************************************************************************************************************************************************************************************************
                           <h2>BINDING</h2>    
<!-- binding -->
<p>Name:-   {{d}}</p>
<p>Email:-  {{a}}</p>
 <p>subject:-  {{b}}</p>
 <p>massage:-  {{c}}</p>
