
<h2>POST DATA</h2>


<!-- post data -->


<div class="container">
    <form [formGroup]="formData" (ngSubmit)="click()">
        <br><label>Enter Your book id:-</label> 
        <input type="text" name="id" placeholder="Your book id" [formControl]="formData.controls['id']" required>
        <span [hidden]="formData.controls['id'].valid" style="color: red;">Please Enter book id</span><br><br>

        <label>Enter Your book name:-</label> 
        <input type="email" name="name" placeholder="Your book name" [formControl]="formData.controls['name']" required>
        <span [hidden]="formData.controls['name'].valid" style="color: red;">Please Enter book name</span><br><br>

        <label> enter author name:-</label> 
        <input type="text" name="author" placeholder="Your author" [formControl]="formData.controls['author']" required>
        <span [hidden]="formData.controls['author'].valid" style="color: red;">Please Enter author</span><br><br>

        
        <input type="submit" value="submit" [disabled]=!formData.valid class="btn btn-dark">
        
        <span> <button [routerLink]="['/getbook']" class="btn btn-primary">click for book details</button></span>

    </form>
</div>



