<h1>GET DATA</h1>
<!-- GET DATA -->
<button (click)="get()" class="btn btn-info"> click to book-details</button>
<table class="table table-bordered">
    <tr>
     <th>ID</th>
    <th>Book-NAME</th>
    <th>AUTHOR</th>
</tr>
<tr *ngFor="let xyz of book ">
    <td>{{xyz.id}}</td>
    <td>{{xyz.name}}  </td>
    <td>{{xyz.author}}</td>
</tr>
</table>
<button [routerLink]="['/book']"  class="btn btn-secondary">Add more book</button>
